<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17736109670-24pau0v9vcomguaevknsbmhp0ac0kfkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17736109670-24pau0v9vcomguaevknsbmhp0ac0kfkh</string>
	<key>API_KEY</key>
	<string>AIzaSyBnrOWhk4OxDNSfpQy7pORnot8YKItEJeA</string>
	<key>GCM_SENDER_ID</key>
	<string>17736109670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galiev.Mouse-racing</string>
	<key>PROJECT_ID</key>
	<string>mouse-racing</string>
	<key>STORAGE_BUCKET</key>
	<string>mouse-racing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17736109670:ios:ac865b1bf54757de5be7a7</string>
	<key>DATABASE_URL</key>
	<string>https://mouse-racing.firebaseio.com</string>
</dict>
</plist>